@import "../../../styles.scss";

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 48px 68px;
  background-color: $terciary-color;
  border-radius: 6px;

  .inputs-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.3125rem;
  }

  .buttons-area {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 0.625rem;
  }
}
