<div class="movie-card">
  <div class="card-header">
    <h2>{{ movie.name }}</h2>
    <h5>{{ movie.rating }}</h5>
  </div>
  <p>{{ movie.synopsis }}</p>
  @if (movie.status === "available") {
    <button (click)="onReserve(movie._id)" class="btn-primary">
      <ng-icon name="heroBanknotes"></ng-icon>
      Reservar
    </button>
  } @else if (movie.status === "leased") {
    <button disabled>Alugado</button>
    <p>
      Disponível novamente em:
      {{ movie.leaseExpiresAt | date: "dd/MM 'à partir de' HH:mm" }}
    </p>
  } @else {
    <button disabled>Indisponível</button>
  }
</div>
