@import "../../../styles.scss";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $terciary-color;

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #fefefe;
    color: $background-color;
    margin: 15% auto;
    padding: 1.25rem;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    align-self: end;
  }

  .close:hover,
  .close:focus {
    color: $background-color;
    text-decoration: none;
    cursor: pointer;
  }
}
