<div class="cms-container">
  <h2>Gestão de Filmes</h2>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()" class="cms-form">
    <div class="inputs-area">
      <label for="name">Nome</label>
      <input id="name" formControlName="name" type="text" />
    </div>

    <div class="inputs-area">
      <label for="synopsis">Sinopse</label>
      <textarea
        id="synopsis"
        formControlName="synopsis"
        rows="5"
        cols="100"
      ></textarea>
    </div>

    <div class="inputs-area">
      <label for="rating">Classificação</label>
      <input id="rating" formControlName="rating" type="text" />
    </div>
    <button type="submit" class="btn-primary">Adicionar</button>
  </form>

  <h3>Estoque de Filmes</h3>
  @for (movie of movies; track movie._id) {
    <div>
      <h3>{{ movie.name }}</h3>
      <p>{{ movie.synopsis }}</p>
      <p>{{ movie.rating }}</p>
      <button (click)="editMovie(movie)" class="btn-primary">Editar</button>
      <button (click)="deleteMovie(movie._id)" class="btn-secondary">Excluir</button>
    </div>
  } @empty {
    <p>Sem filmes disponíveis.</p>
  }
</div>
