<app-modal
  [isVisible]="isVisible"
  title="Confirme sua Locação"
  (onClose)="closeModal()"
  class="modal-container"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <form [formGroup]="rentalForm" (ngSubmit)="submitForm()" class="rental-form">
    <label class="inputs-area">
      Nome:
      <input
        formControlName="name"
        type="text"
        aria-required="true"
        aria-describedby="name-help"
        class="ipt-secondary"
      />
      <span id="name-help" class="sr-only">Campo obrigatório</span>
      @if (rentalForm.get("name")?.invalid && rentalForm.get("name")?.touched) {
        <div>
          @if (rentalForm.get("name")?.errors?.["required"]) {
            <small role="alert">Nome é obrigatório.</small>
          }
        </div>
      }
    </label>
    <label class="inputs-area">
      Email:
      <input
        formControlName="email"
        type="email"
        aria-required="true"
        aria-describedby="email-help"
        class="ipt-secondary"
      />
      <span id="email-help" class="sr-only">Campo obrigatório</span>
      @if (
        rentalForm.get("email")?.invalid && rentalForm.get("email")?.touched
      ) {
        <div>
          @if (rentalForm.get("email")?.errors?.["required"]) {
            <small role="alert">Email é obrigatório.</small>
          }
          @if (rentalForm.get("email")?.errors?.["email"]) {
            <small role="alert">Email inválido.</small>
          }
        </div>
      }
    </label>
    <label class="inputs-area">
      Telefone:
      <input
        formControlName="phone"
        type="text"
        [mask]="phoneMask"
        aria-required="true"
        aria-describedby="phone-help"
        class="ipt-secondary"
      />
      <span id="phone-help" class="sr-only">Campo obrigatório</span>
      @if (
        rentalForm.get("phone")?.invalid && rentalForm.get("phone")?.touched
      ) {
        <div>
          @if (rentalForm.get("phone")?.errors?.["required"]) {
            <small role="alert">Telefone é obrigatório.</small>
          }
          @if (rentalForm.get("phone")?.errors?.["pattern"]) {
            <small role="alert">Telefone inválido.</small>
          }
        </div>
      }
    </label>
    <p>
      Lembre-se de que o filme deve ser devolvido em no máximo 3 dias corridos,
      para evitar multas.
    </p>
    <button type="submit" class="btn-primary">Confirmar</button>
  </form>
</app-modal>
