/* Color Variables */
$primary-color: #c1272d;
$primary-color-hover: #9b1318;
$secondary-color: rgba(255, 255, 255, 0.1);
$terciary-color: rgba(0, 0, 0, 0.7);
$background-color: #021435;
$text-color: #fff;
$placeholder-color: #d6d9dd;
$disabled-color: #ccc;
